body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 35%, rgba(119,0,255,1) 100%); 
}

.container {
  display: grid; 
  grid-template-columns: 0.5fr 3.8fr 0.5fr; 
  grid-template-rows: 0.5fr 2.5fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "HEADER-1 HEADER-2 HEADER-3"
    "COLUMN-1 MAIN-1 COLUMN-2"
    ". . ."; 
}

.HEADER-1 { 
    display: flex;
    grid-area: HEADER-1; 
    background-color: rgb(39, 38, 38);
    position: relative;
    z-index: 3;
    padding-left: 30px;

}

.logo {
    margin-top: 20px;
    width: 30px;
    height: auto;
}

.HEADER-2 { 
    grid-area: HEADER-2; 
    background-color: rgb(39, 38, 38);
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    z-index: 2;
    text-align: center;
}

.HEADER-3 { 
    grid-area: HEADER-3; 
    background-color: rgb(39, 38, 38);
    position: relative;
    z-index: 3;
    padding-right: 0;
}

.MAIN-1 { 
    grid-area: MAIN-1; 
}

.COLUMN-1 { 
    grid-area: COLUMN-1; 
}

.COLUMN-2 { 
    grid-area: COLUMN-2; 
}
