/* styling for portfolio/about */

.container {  
    display: grid;
    grid-template-columns: 1.6fr 0.4fr 1fr;
    grid-template-rows: 0.2fr 1.8fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "HEADER-1 HEADER-1 HEADER-1"
    "MAIN-1 MAIN-2 MAIN-2"
    "MAIN-1 MAIN-2 MAIN-2";
}

/* Container styling for portfolio/about */

.HEADER-1 { 
    grid-area: HEADER-1; 
    font-family: andale mono, monospace;
    text-align: center;
}

.MAIN-1 { 
    grid-area: MAIN-1;
    text-align: center;
    margin-right: 20px;
    background-color: black;
    text-align: center;
    height: 100%;
    color: white;
}

.MAIN-2 { 
    grid-area: MAIN-2; 
    font-family: andale mono, monospace;
    text-align: center;
}

/* navigation link styling */
nav {
    float: right;
    display: inline;
    padding-right: 20px;
    margin-bottom: 50px;
}

a:active {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

a:hover {
    background-color: black; 
    color: white;
}

/* logo settings */

.logo {
    max-width: 500px;
    height: auto;
}

#logo-section {
    justify-content: center;
}

.port {
    max-height: 300px;
}

.about-img {
    max-width: 500px;
    max-height: 300px;
    padding: 20px;
}

/* footer settings */

footer {
    text-align: center; 
    justify-content: center; 
    font-family: andale mono, monospace;
}

/* media queries for resizing */ 

@media (max-width: 1024px) {
  /* … */
    .about-img {
        max-width: 300px;
        margin-top: 150px; 
        margin-bottom: 100px;
    }

    .port {
        max-width: 300px;
        margin-top: 150px;
        margin-bottom: 150px;
    }

}

@media (max-width: 768px) {
    
    .about-img {
        max-width: 200px;
    }

    .port {
        max-width: 200px;
    }
}
